/*==body==*/
body {
    font-family: sans-serif;
    color: black;
}

/*==Menu==*/
#menu ul {
    list-style-type: none;
    background-color: rgb(211, 211, 211);
    text-align: center;
    width: 100%;
}
#menu ul li{
    display: inline;
}
#menu .icon {
    display: inline;
    width: 100%;
}
#menu ul .icon1, #menu ul .icon2 {
    color: #ffffff;
    display: inline;    
    height: 40px;
    line-height: 40px;
    background-color: #d3d3d3;

}
#menu ul li a {
    color: #000000;
    text-decoration: none;
}

#menu ul li a:hover {
    background: #f1f1f1;
    color: rgb(0, 0, 0);
}
#menu .icon1{
    margin: 10px;
}
#menu .icon2{
    margin: 10px;
    margin-left: 1050px;
}
#menu .icon1 li{
    padding: 7px;
}
#menu .icon2 li{
    padding: 7px;
}
/*==row1==*/

.row1 {
    display: grid;
    grid-template-columns: auto;
}

.row1 {
    width: 100%;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
}

.row1 img {
    width: 100%;
}

.banner .row1 .text1 {
    font-family: garamond, serif;
    position: absolute;
    top: 110px;
    left: 7%;
    color: #ffffff;
}

.banner {
    position: relative;
}

.text2 {
    margin-left: 150px;
}

/*==row2==*/
.row2 {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;    
}
.row2 .anh1, .anh2, .anh3{
    padding: auto;
    width: 100%;
}

/*==output==*/
.out {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: auto;
    width: 100%;
}

.out {
    background-color: rgb(236, 236, 236);
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    font-family: garamond, serif;
}

